
/* import '@fontsource/roboto/300.css';
import '@fontsource/roboto/400.css';
import '@fontsource/roboto/500.css';
import '@fontsource/roboto/700.css'; */

html,body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: black;
}

.search-bar{
  border: none;
  outline: none;
  width: 350px;
}

.category-btn{
  display: flex;
  align-items:center;
  /* justify-content: center; */
  cursor: pointer;
  font-weight: bold;
  text-transform: capitalize;
  background: transparent;
  border: none;
  outline: none;

  padding: 7px 15px;
  margin: 10px 0;
  border-radius: 20px;
  color: white;

  transition: all 0.3s ease;
}

.category-btn:hover{
  background-color: #FC1503 !important;
  opacity: 1 !important ;
}

.category-icon{
  color: red;
  margin-right: 15px;
}

.react-player{
  width: 100% !important;
  height: 77vh !important;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(114, 113, 113) !important;
  border-radius: 10px;
  height: 200px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}